.Card {
  text-align: center;
  background-color: #a7a7a7;
  justify-content: center;
  color: #333;
  vertical-align: middle;
  border-radius: 3%;
  width: 4em;
  height: 5em;
  box-shadow: .2em .2em 1em rgba(0,0,0,.5);
  position: relative;
}
.Card.active,
.Card.active:hover {
  background-color: #c6c944;
}
.Card.active {
  z-index: 998;
  transform: translateY(-20px);
  box-shadow: .2em .2em 3em rgba(0,0,0,.5);
}
.Card .Value {
  margin-block-start: .2em;
  font-size: 2.6em;
}
.Value {
  vertical-align: middle;
}
.Card:hover {
  z-index: 999;
  transform: translateY(-2em) scale(1.2) rotate(-5deg);
  box-shadow: .2em .2em 3em rgba(0,0,0,.5);
  background-color: #e2e2e2;
}
