.Players {
  animation: Card-balance infinite 10s ease-in-out ;
  width: 100vw;
  height: 60vh;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  top: 0;
  position: fixed;
}
.Players .Player {
  margin: 0 2vw;
}

@keyframes Card-balance {
  from {
    transform: rotate(0deg);
    transform: translateY(0);
  }
  50% {
    transform: rotate(-3deg);
    transform: translateY(-10px);
  }
  to {
    transform: rotate(0);
    transform: translateY(0);
  }
}