.Player {
  width: 200px;
  height: 200px;
  text-align: center;
  vertical-align: bottom;
  opacity: .5;
  position: relative;
}
.Player.done {
  opacity: .2;
}
.Player small {
  font-size: xx-small;
}

.Player .Card {
  transform: scale(.6);
  animation: Player-show-card normal .3s;
  position: absolute;
  right: 0px;
  top: 35%;
}

@keyframes Player-show-card {
  from {
    transform: scale(.2);
  }
  to {
    transform: scale(.6);
  }
}

@keyframes Card-balance {
  from {
    transform: rotate(0deg);
    transform: translateY(0);
  }
  50% {
    transform: rotate(3deg);
    transform: translateY(-10px);
  }
  to {
    transform: rotate(0);
    transform: translateY(0);
  }
}